diskcache
scipy
numpy
pillow
gguf
tqdm

# for Windows (CUDA 13.0)
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu130-win-20260831/llama_cpp_python-0.3.49%2Bcu130-cp310-cp310-win_amd64.whl; python_version == "3.10" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu130-win-20260831/llama_cpp_python-0.3.49%2Bcu130-cp311-cp311-win_amd64.whl; python_version == "3.11" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu130-win-20260831/llama_cpp_python-0.3.49%2Bcu130-cp312-cp312-win_amd64.whl; python_version == "3.12" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu130-win-20260831/llama_cpp_python-0.3.49%2Bcu130-cp313-cp313-win_amd64.whl; python_version == "3.13" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu130-win-20260831/llama_cpp_python-0.3.49%2Bcu130-cp314-cp314-win_amd64.whl; python_version == "3.14" and platform_system == "Windows"

# for Linux (CUDA 13.1)
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu131-linux-20260831/llama_cpp_python-0.3.49%2Bcu131-cp310-cp310-linux_x86_64.whl; python_version == "3.10" and platform_system == "Linux"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu131-linux-20260831/llama_cpp_python-0.3.49%2Bcu131-cp311-cp311-linux_x86_64.whl; python_version == "3.11" and platform_system == "Linux"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu131-linux-20260831/llama_cpp_python-0.3.49%2Bcu131-cp312-cp312-linux_x86_64.whl; python_version == "3.12" and platform_system == "Linux"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu131-linux-20260831/llama_cpp_python-0.3.49%2Bcu131-cp313-cp313-linux_x86_64.whl; python_version == "3.13" and platform_system == "Linux"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-cu131-linux-20260831/llama_cpp_python-0.3.49%2Bcu131-cp314-cp314-linux_x86_64.whl; python_version == "3.14" and platform_system == "Linux"

# for macOS (Metal)
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-Metal-macos-20260831/llama_cpp_python-0.3.49-cp310-cp310-macosx_11_0_arm64.whl; python_version == "3.10" and platform_system == "Darwin"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-Metal-macos-20260831/llama_cpp_python-0.3.49-cp311-cp311-macosx_11_0_arm64.whl; python_version == "3.11" and platform_system == "Darwin"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-Metal-macos-20260831/llama_cpp_python-0.3.49-cp312-cp312-macosx_11_0_arm64.whl; python_version == "3.12" and platform_system == "Darwin"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-Metal-macos-20260831/llama_cpp_python-0.3.49-cp313-cp313-macosx_11_0_arm64.whl; python_version == "3.13" and platform_system == "Darwin"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.49-Metal-macos-20260831/llama_cpp_python-0.3.49-cp314-cp314-macosx_11_0_arm64.whl; python_version == "3.14" and platform_system == "Darwin"